{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 37.628286968756186,
    "longitude": 126.86610460281373,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "집",
    "time_zone": "Asia/Seoul",
    "external_url": "http://paulkim.asuscomm.com:8123",
    "internal_url": null,
    "currency": "KRW",
    "country": "KR",
    "language": "ko",
    "radius": 85
  }
}